<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-app="myapp" ng-controller="ctrl">

    <!-- Subject List -->
    <div>
        <h2>Danh mục môn học</h2>
        <ul>
            <li ng-repeat="subject in subjects">
                {{subject.name}}
            </li>
        </ul>
    </div>

    <!-- Quiz Questions -->
    <div>
        <h2>Câu hỏi:</h2>
        <div ng-repeat="question in questions">
            <h3>{{question.title}}</h3>
            <div ng-repeat="option in question.options">
                <input type="radio" ng-model="userAnswers[question.id]" ng-value="option"
                    ng-change="checkAnswer(question.id)">
                {{option}}
            </div>
            <hr>
        </div>
    </div>

    <!-- Score Display -->
    <div>
        <h2>Điểm số: {{score}}</h2>
    </div>

    <!-- Timer -->
    <div>
        <h2>Thời gian làm bài: {{timer | date:'mm:ss'}}</h2>
    </div>

    <script src="scrip/Subjects.js"></script>
    <script src="scrip/Questions.js"></script>
    <script>
        angular.module('myapp', [])
            .controller('ctrl', function ($scope, $interval) {
                var Subjects = [
                    { name: "Lập trình Android nâng cao" },
                    { name: "Cơ sở dữ liệu" },
                    { name: "Kỹ thuật lập trình" }
                ];
                var Questions = [
                    {
                        id: 1,
                        title: "Câu hỏi 1",
                        options: ["A", "B", "C"],
                        answer: "A"
                    },
                    {
                        id: 2,
                        title: "Câu hỏi 2",
                        options: ["D", "E", "F"],
                        answer: "D"
                    },
                    {
                        id: 3,
                        title: "Câu hỏi 3",
                        options: ["G", "H", "I"],
                        answer: "G"
                    },
                    // More questions...
                ];
                $scope.subjects = Subjects; // Load subjects from Subjects.js
                $scope.questions = Questions; // Load questions from Questions.js
                $scope.userAnswers = {};

                $scope.score = 0;
                $scope.totalQuestions = $scope.questions.length;

                var timerInterval;
                $scope.timer = 0;

                function updateTimer() {
                    $scope.timer++;
                }

                timerInterval = $interval(updateTimer, 1000);

                $scope.checkAnswer = function (questionId) {
                    var userAnswer = $scope.userAnswers[questionId];
                    var correctAnswer = $scope.questions.find(function (question) {
                        return question.id === questionId;
                    }).answer;

                    if (userAnswer === correctAnswer) {
                        $scope.score++;
                    }
                };

                $scope.$on('$destroy', function () {
                    $interval.cancel(timerInterval);
                });
            });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>