<!doctype html>
<html lang="en">

<head>
    <title>hehehehe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-app="myapp">
    <div ng-controller="myctrl" class="container">
        <script>
            console.log("hehehe"); // Đảm bảo mã JavaScript của bạn hoạt động
            var app = angular.module("myapp", []);
            app.controller("myctrl", function ($scope) {
                $scope.student = {};
                $scope.save = function () {
                    var a = parseFloat($scope.student.mark);
                    if (a < 5) {
                        $scope.student.grade = "Rot";
                    } else {
                        $scope.student.grade = "Dau";
                    }
                }
            });
        </script>

        <div class="form-group">
            <label for="">Ho Va Ten</label>
            <input ng-model="student.fullname" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Gioi Tinh</label>
            <select ng-model="student.gender" class="form-control" name="" id="">
                <option>Nam</option>
                <option>Nu</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Diem</label>
            <input ng-model="student.mark" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Hoc Luc</label>
            <p ng-bind="student.grade"></p>
        </div>
        <hr>
        <button type="button" name="" id="" ng-click="save()" class="btn btn-primary">submit</button>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>